<footer class="mt-5 position-absolute bottom-0 bg-primary d-flex justify-content-between p-1 w-100">
{# <footer class="fixed-bottom bottom-0 bg-primary justify-content-end p-1"> #}



<a href="#" class="btn btn-default text-white border border-light m-2 ">Retour en haut ↑</a>
<p class="text-white text-center"> UGECAM - BEAUVOIR</p>
<div></div>
</footer>