{% extends 'base.html.twig' %}

{% block title %}Modifier l'état des lieux{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier l'état des lieux</h1>

    {{ include('etatlieux/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_etatlieux_index') }}" class="p-3">Retour à la liste</a>
 

    {% if is_granted('ROLE_ADMIN') %}
    {{ include('etatlieux/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
