{% extends 'base.html.twig' %}

{% block title %}Modifier l'état des lieux{% endblock %}

{% block body %}
    <h1 class="text-center p-3">Modifier l'état des lieux</h1>

    {{ include('etatlieux/_formsortie.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_etatlieux_index') }}" class="p-3">Retour à la liste</a>

    {{ include('etatlieux/_delete_form.html.twig') }}
{% endblock %}
