    {% extends 'base.html.twig' %}

    {% block title %}Plan chambres{% endblock %}

    {% block body %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="7" class="text-center">Plan des Chambres du centre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Escalier B</td>
                    
                    <td class="table-success" colspan="6">PMR</td>
                    <td>Escalier A</td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>002</td>
                    <td>003</td>
                    <td>004</td>
                    <td>005</td>
                    <td>006</td>
                    <td>007</td>
                </tr>
                <tr>
                    <td>HONEO<br>FAA 44</td>
                    <td>SEDIKI<br>WEB 4</td>
                    <td>MIKHAEIL<br>FLE 19</td>
                    <td>WOGNIN<br>MAN<br>Repos en journée uniquement</td>
                    <td>UKA<br>FLE 19</td>
                    <td>JIMENEZ<br>TL 71</td>
                    <td>DOMENEZ<br>TL 71</td>
                </tr>
                <tr>
                    <td>016</td>
                    <td>015</td>
                    <td>014</td>
                    <td>013</td>
                    <td>012</td>
                    <td>011</td>
                    <td>010</td>
                    <td>009</td>
                    <td>008</td>
                </tr>
                <tr>
                    <td>AYISSI<br>WEB 4</td>
                    <td>BHUTI<br>FLE 19</td>
                    <td>YOUSSIF<br>FLE 18</td>
                    <td>AHADI<br>FLE 20</td>
                    <td>LAMBERT<br>SAMS 81</td>
                    <td>LECLEIRE<br>FAA 44</td>
                    <td>FERAT<br>TL 71</td>
                    <td>THOMAS GARNIER<br>SAMS 80</td>
                    <td>AIT MOUMAD<br>FLE 20</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">BATIMENT E</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ERP</td>
                    <td>Logement N°1</td>
                </tr>
                <tr>
                    <td>ERP</td>
                    <td>Logement N°4</td>
                </tr>
                <tr>
                    <td>ERP</td>
                    <td>Logement N°3</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">BATIMENT F</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>RDC</td>
                    <td>
                        <div class="d-flex">
                            <div class="p-2">ERP</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1er étage</td>
                    <td>GONTIER<br>Hébergement extérieur</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">BATIMENT H<br>(fond du parc)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" class="text-center text-danger">Non utilisable</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Stagiaire à mobilité réduite</th>
                    <th>Stagiaire malentendant</th>
                    <th>Chambre malentendante</th>
                    <th>Stagiaire absent</th>
                    <th>Hébergement extérieur</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-success"></td>
                    <td class="table-warning"></td>
                    <td class="table-info"></td>
                    <td class="table-secondary"></td>
                    <td class="table-primary"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    {% endblock %}

    