{% extends "base.html.twig" %}

{% block title %} Page non trouvée {% endblock %}

{% block body %}

<h1 class="text-center">Vous n'avez pas les autorisations pour afficher cette page</h1>
<p class="text-center">Veuillez vous adresser à l'administrateur du site</p>

{% endblock %}